Fabric==1.8.3
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.11
Pygments==1.6
Sphinx==1.2.2
argparse==1.1
docutils==0.11
droopy==0.0.3
dtf==0.4.0
ecdsa==0.11
paramiko==1.12.3
polib==1.0.4
pycrypto==2.6.1
six==1.6.1
sphinx-intl==0.9.4
transifex-client==0.10
wsgiref==0.1.2
